#main.knowledge-base.span9{role: "main"}
  .row.knowledge-base-row
    - @tutocenter.categories.each do |c|
      .span3
        %h2
          %a{href: "#", title: c.nom}
            = c.nom
        %ul.categorie-posts
          - c.tutoriels.order_by("created_at DESC").limit(5).each do |t|
            %li.tutoriel_link
              %a{href: "/#{t.slug}"}
                =t.titre
        %span.label.label-color
          %a{href: "#", title: ""}
            = "" + t("tutocenter.accueil.voir") + " #{c.tutoriels.count} " + t("tutocenter.tutoriels")
