#main.knowledge-base.span9{role: "main"}
  .row.knowledge-base-row

    /Administration
    .span3
      %h2
        %a{href: "article.html", title: "Administration"} Administration
      %ul.categorie-posts
        %li
          %i.icon-file
          %a{href: "article.html"} Disabled comments
        %li
          %i.icon-picture
          %a{href: "article.html"} Fully Responsive Design
        %li
          %i.icon-file
          %a{href: "article.html"} Shipping Options Page
        %li
          %i.icon-file
          %a{href: "article.html"} Setting up attributes
        %li
          %i.icon-picture
          %a{href: "article.html"} Downloadable products
        %li
          %i.icon-file
          %a{href: "article.html"} Increasiyng Memor
      %span.label.label-color
        %a{href: "article.html", title: ""}
          View all 7 categories
          %i.icon-chevron-right
    /Administration
    .span3
      %h2
        %a{href: "article.html", title: "Administration"} Administration
      %ul.categorie-posts
        %li
          %i.icon-file
          %a{href: "article.html"} Disabled comments
        %li
          %i.icon-picture
          %a{href: "article.html"} Fully Responsive Design
        %li
          %i.icon-file
          %a{href: "article.html"} Shipping Options Page
        %li
          %i.icon-file
          %a{href: "article.html"} Setting up attributes
        %li
          %i.icon-picture
          %a{href: "article.html"} Downloadable products
        %li
          %i.icon-file
          %a{href: "article.html"} Increasiyng Memor
      %span.label.label-color
        %a{href: "article.html", title: ""}
          View all 7 categories
          %i.icon-chevron-right
    /Administration
    .span3
      %h2
        %a{href: "article.html", title: "Administration"} Administration
      %ul.categorie-posts
        %li
          %i.icon-file
          %a{href: "article.html"} Disabled comments
        %li
          %i.icon-picture
          %a{href: "article.html"} Fully Responsive Design
        %li
          %i.icon-file
          %a{href: "article.html"} Shipping Options Page
        %li
          %i.icon-file
          %a{href: "article.html"} Setting up attributes
        %li
          %i.icon-picture
          %a{href: "article.html"} Downloadable products
        %li
          %i.icon-file
          %a{href: "article.html"} Increasiyng Memor
      %span.label.label-color
        %a{href: "article.html", title: ""}
          View all 7 categories
          %i.icon-chevron-right

